<h1 class="centered fancy">Dashboard</h1>


<div id="welcome">
  <h2 id="welcome-message">Welcome to the Inventory System</h2>

  <p>
    You have <%= @totalItems %> items defined in the system.
  </p>

  <p>The <span id="average" class="bold-blue">average</span> price of a sales item is $<%=@avgPrice %></p>

</div>

<p id="description">The average is the sum divided by the count.</p>
